<div class="row">
  {{#each ideas}}
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="card mb-2">

      <div class="card-body">
        <h2 style="font-weight: bold; margin-bottom: 2rem;">{{this.title}}</h2>
        <p style="margin-bottom: 4rem;" class="card-text">{{this.details}}</p>

        <a href=/ideas/edit-ideas/{{this._id}} class="btn btn-primary btn-sm">&nbsp;Edit&nbsp;</a>

        <form action="/ideas/delete-ideas/{{this._id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE"></input>
          <input type="submit" class="mt-2 btn btn-danger btn-sm" value="Trash"></input>
        </form>

      </div>
    </div>
  </div>
  {{else}}
  <div class="col-12 jumbotron text-center">
    <h1 class="display-3">It's lonely here</h1>
    <p class="lead">add your first idea...</p>
  </div>

  {{/each}}
</div>